
# Docker PostgreSQL Configuration
POSTGRES_DB=DB_NAME
POSTGRES_USER=your_user_name
POSTGRES_PASSWORD=your_password_here
POSTGRES_PORT=5432

# Application Configuration
PORT=8000


# Database Configuration
# PostgreSQL connection string for Drizzle ORM
DATABASE_URL=postgres://{POSTGRES_USER}:{POSTGRES_PASSWORD}@localhost:{POSTGRES_PORT}/{POSTGRES_DB}